@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f8;
  background-image: linear-gradient(to right, #a5b4ff, #6cb2eb);
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}
